.navbar {

    display: flex;

    justify-content: space-between;

    align-items: center;


    padding: 15px 30px;


    background-color: #111c2e;


    border-bottom: 1px solid #334155;


    color: #f8fafc;

}


.navbar-brand {

    font-size: 20px;
    font-weight: bold;

}


.navbar-links {

    display: flex;
    gap: 25px;

}


.navbar-links a {

    color: #cbd5e1;

    text-decoration: none;

    transition: 0.2s;

}


.navbar-links a:hover {

    color: #38bdf8;

}