.navbar {

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 30px;

    background-color: #111827;

    color: white;

}


.navbar-brand {

    font-size: 20px;
    font-weight: bold;

}


.navbar-links {

    display: flex;
    gap: 25px;

}


.navbar-links a {

    color: white;

    text-decoration: none;

}


.navbar-links a:hover {

    color: #60a5fa;

}